.carousel, .carousel-item, .img-fluid {
	width:100%;
}
.navigation{
	  background-color:#003878;
	}

	.navigation .nav-link {
	  text-decoration: none;
	  display: block;
	  padding: 1em;
	  color: white;
	}

	.navigation .nav-item:hover {
	  background: deepskyblue;
	}

	#lustrum:hover{
		background: #9a8214;
	}

.dropdown-menu {
	width:250px;
}
.navbar-toggler {
	float:right;
}
.navbar-toggler-icon {
	color: white;
}

.name_banner {
	background-color: lightgrey;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.media {
	margin:1.6em;
}
.icon_hamburger{
	background-color: #003878;
	border:1px solid #0353AE;
	color: white !important;
}

.zhtc-brd, .zhtc-button, .zhtc-button:active, .zhtc-button:hover {
	border-color: #003878 !important;
}

.slide-border {
	border-width: 2px !important;
}
.zhtc-bg, .zhtc-button:active, .zhtc-button:hover {
	background-color: #003878;
}
.zhtc-c, .zhtc-button {
	color: #003878;
}
.card-noborder {
	border: 1px solid rgba(0,0,0,0);
}
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h2 {
    margin-top: 30px;
    position: relative;
    text-align: center;
    z-index: 1;
}

h2:before {
    border-top: 2px solid #dfdfdf;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 25px; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}
.header-txt:before {
	border-top: 0px solid #dfdfdf;
}
h2 span { background: #fff; padding: 0 10px; }

.width-60 {
	width:60%;
}
.width-100 {
	width:100%;
}
.side-note {
	top:40vh;
	right:19vh;
	height:10vh;
	width:15vw;
}
