.navigation{
	  list-style: none;
	  margin: 0;

	  background:#003878;

	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;

	  -webkit-flex-flow: row wrap;
	  justify-content:center;
	}

	.navigation .nav-link {
	  text-decoration: none;
	  display: block;
	  padding: 1em;
	  color: white;
	}

	.navigation .nav-item:hover {
	  background: deepskyblue;
	}

	#lustrum:hover{
		background: #9a8214;
	}

.dropdown-menu {
	width:250px;
}
.navbar-toggler {
	float:right;
}
.navbar-toggler-icon {
	color: white;
}

.name_banner {
	background-color: lightgrey;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.media {
	margin:1.6em;
}
